@import "tailwindcss";

html, body, #__next {
  margin: 0;
  padding: 0;
  height: 100%;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 2s infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
}
